<% if (results.length > 0) { %>
  <% for (var i=0; i < results.length; i++) { %>

  <div class="result row">
    <div class="thumbnail">
      <a href="<%= results[i].url %>">
        <img src="<%= results[i].thumbnail %>">
      </a>
    </div>

    <div class="product-info">
      <a href="<%= results[i].url %>">
        <h3 class="product-title">
          <%= results[i].name %>
        </h3>
        <% if (results.industry) { %>
            <p class="prix"><%= results[i].industry.value %></p>
        <% } %>
      </a>
      <div class="caption">
        <p><%= results[i].description %></p>
        <% if (results.price) { %>
            <p class="prix"><%= results[i].price.value %><span class="currency"><%= results[i].price.currency %></span></p>
        <% } %>
      </div>
    </div>
  </div>
  <% } %>
<% } else { %>
  <p>No results found, please try searching for something else</p>
<% } %>
